{% extends 'common/base.html' %}

{% block main-content %}
  {{ block.super }}
  <div class="row">
    <h2>City Attorney</h2>
    <p>The City Attorney’s Office provides legal counsel and advice, prepares
      legal documents, and provides legal representation to advocate,
      defend, and prosecute on behalf of the City of San José and the
      Successor Agency to the San José Redevelopment Agency.
    </p>
    <p>Operating expenditures for the City Attorney’s Office totaled $15
      million* in 2014-15, an increase of 5 percent from the prior year and
      22 percent more than ten years ago.
    </p>
    <p>Staffing increased by 3 positions from last year. Compared to ten years
      ago, the number of positions decreased 23 percent from 97 to 75.
    </p>
    <p>The City Attorney’s Office handled 1,113 new claims and litigation
      matters in 2014-15 and prepared or reviewed more than 4,500 legal
      transactions, documents or memoranda. In 2014-15, litigation-related
      collections, including tobacco settlement monies, totaled about $11.5
      million while general liability payments totaled about $2.7 million.
    </p>
    <div class="info-text">
      * The City Attorney’s Office also oversaw $893,000 in Citywide
      expenditures for Fiscal Reform Plan Outside Legal Counsel.
    </div>
  </div>
{% endblock %}

{% block javascript %}
{% endblock %}
