<div class="jumbotron display-cell">
  <p class="center">KEY FACTS (2013-14)</p>
  <table class="table">
    <tr>
      <td>Planned capital improvement spending</td>
      <td>$178 million</td>
    </tr>
    <tr>
      <td>Streets</td>
      <td>approx. 2,410 miles</td>
    </tr>
    <tr>
      <td>Traffic Signal Intersections </td>
      <td>918</td>
    </tr>
    <tr>
      <td>Streetlights</td>
      <td>63,000</td>
    </tr>
    <tr>
      <td>On-Street Bicycle Lanes</td>
      <td>234 miles</td>
    </tr>
    <tr>
      <td>Sanitary Sewers</td>
      <td>2,294 miles</td>
    </tr>
    <tr>
      <td>Landscape Abutments in Public Right-of-Ways</td>
      <td>566 acres</td>
    </tr>
    <tr>
      <td>Street Trees</td>
      <td>244,000</td>
    </tr>
    <tr>
      <td>Parking Lots and Garages</td>
      <td>18</td>
    </tr>
    <tr>
      <td>Parking Meters</td>
      <td>approx. 2600</td>
    </tr>
  </table>
</div>
