{% extends 'common/base.html' %}
{% load staticfiles %}

{% block main-content %}
  {{ block.super }}
  <div class="row">
    <h2>Street Pavement Maintenance</h2>
    <p>Pavement Maintenance is responsible for the maintenance and repair of about
      2,431 miles of City street pavement. For many years, pavement maintenance
      has been under-funded. Thus, DOT’s maintenance strategy has focused on
      542 miles of designated priority streets. Only 39 miles of street were
      resurfaced and 26 miles were preventively sealed in FY 2014-15. The City
      needs $500 million to eliminate the backlog of poor and failed roads. If
      continuing current funding levels, this will grow to $1 billion by 2020.
    </p>
    <p>The street pavement condition was deemed only “fair” in 2014—rated at 62*
      on the Pavement Condition Index (PCI) scale out of 100. This is down from
      the 2003 PCI rating of 67. A “fair” rating means that streets are worn to the
      point where expensive repairs may be needed to prevent them from
      deteriorating rapidly. Because major repairs cost five to ten times more than
      routine maintenance, these streets are at an especially critical stage.
    </p>
    <p>Just 24 percent of residents surveyed in the fall of 2015 reported that they
      felt street repair was “excellent” or “good.” Residents ranked this service
      among the poorest.
    </p>
    <p>DOT continued to make safety-related corrective repairs, such as filling
      potholes and patching damaged areas. In 2014-15, DOT crews repaired
      10,000 potholes.
    </p>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <img src="{% static 'images/good-pavement.png' %}" width="240">
    </div>
    <div class="col-sm-3">
      <img src="{% static 'images/fair-pavement.png' %}" width="240">
    </div>
    <div class="col-sm-3">
      <img src="{% static 'images/poor-pavement.png' %}" width="240">
    </div>
    <div class="col-sm-3">
      <img src="{% static 'images/failed-pavement.png' %}" width="240">
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div id="potholes" style="min-width: 500px; margin-top: 30px"></div>
    </div>
    <div class="col-sm-6">
      <div id="street-repairs" style="min-width: 500px; margin-top: 30px"></div>
      <div class="info-text right">
        * 3-year moving average, calendar year basis
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <div id="pavement-index-area" style="min-width: 500px; margin-top: 30px"></div>
    </div>
    <div class="col-sm-6">
      <div id="pavement-index-sj" style="min-width: 500px; margin-top: 30px"></div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <div id="road-funding" style="min-width: 500px; margin-top: 30px"></div>
    </div>
  </div>

{% endblock %}

{% block javascript %}
  $(function () {
    $.getJSON("{% url 'road-funding' %}")
    .done(function(data) {
      $('#road-funding').highcharts(data.chartData);
    })

    $.getJSON("{% url 'street-repairs' %}")
    .done(function(data) {
      $('#street-repairs').highcharts(data.chartData);
    })

    $.getJSON("{% url 'pavement-index-area' %}")
    .done(function(data) {
      $('#pavement-index-area').highcharts(data.chartData);
    })

    $.getJSON("{% url 'pavement-index-sj' %}")
    .done(function(data) {
      $('#pavement-index-sj').highcharts(data.chartData);
    })

    $.getJSON("{% url 'potholes' %}")
    .done(function(data) {
      $('#potholes').highcharts(data.chartData);
    })

  });
{% endblock %}
