{% extends 'common/base.html' %}

{% block main-content %}
  {{ block.super }}
  <div class="row">
    <h2>Retirement Services</h2>
    <p>The Retirement Services Department administers two pension plans, the
      Federated City Employees’ Retirement System (Federated) and the Police and
      Fire Department Retirement Plan (Police and Fire), as well as retirement
      benefit programs for City employees. In 2014-15, Department operating
      expenditures for personnel totaled $5.4 million,* and staff included 39
      authorized positions (up from $2.5 million and 27 positions ten years ago).
    </p>
    <p>In 2014-15, the City and its employees contributed 100 percent of its Annual
      Required Contribution (ARC) to the retirement funds for pension benefits;
      and 76 percent and 63 percent of the ARC for Federated and Police and Fire
      retiree health and dental benefits (also known as Other Post Employment
      Benefits or OPEB).** The City’s total contributions included $244 million for
      pension benefits and $48 million for OPEB.
    </p>
    <p>In June 2012, San José voters approved a comprehensive pension reform
      measure (Measure B) that established parameters for a new pension benefit
      structure for new City employees (“Tier 2”). As of June 30, 2015, there were
      2,363, and 873 active Federated members in Tiers 1 and 2 respectively. For
      Police and Fire, there were 1,467 active members in Tier 1 and 110 in tier 2.
    </p>
    <p>
      Some portions of Measure B also impacted members of both Tier 1 plans.
      Those changes are currently subject to legal challenges and/or are part of
      ongoing negotiations between the City and its bargaining units.
    </p>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div id="rs-op-exp" style="min-width: 500px; margin-top: 30px"></div>
    </div>
    <div class="col-sm-6">
      <div id="rs-auth-positions" style="min-width: 500px; margin-top: 30px"></div>
    </div>
  </div>
{% endblock %}

{% block javascript %}
  $(function () {
    $.getJSON("{% url 'rs-op-expenditure' %}")
    .done(function(data) {
      $('#rs-op-exp').highcharts(data.chartData);
    })

    $.getJSON("{% url 'rs-auth-positions' %}")
    .done(function(data) {
      $('#rs-auth-positions').highcharts(data.chartData);
    })
  });
{% endblock %}
