{% extends 'common/base.html' %}

{% block main-content %}
  {{ block.super }}
  <div class="row">
    <h2>Retirement Services</h2>
    <p>The Retirement Services Department administers two pension plans, the
      Federated City Employees’ Retirement System (Federated) and the Police and
      Fire Department Retirement Plan (Police and Fire), as well as retirement
      benefit programs for City employees. In 2014-15, Department operating
      expenditures for personnel totaled $5.4 million,* and staff included 39
      authorized positions (up from $2.5 million and 27 positions ten years ago).
    </p>
    <p>In 2014-15, the City and its employees contributed 100 percent of its Annual
      Required Contribution (ARC) to the retirement funds for pension benefits;
      and 76 percent and 63 percent of the ARC for Federated and Police and Fire
      retiree health and dental benefits (also known as Other Post Employment
      Benefits or OPEB).** The City’s total contributions included $244 million for
      pension benefits and $48 million for OPEB.
    </p>
    <p>As of June 30, 2015, there were 2,363, and 873 active Federated
       members in Tiers 1 and 2 respectively. For Police and Fire, there
        were 1,467 active members in Tier 1 and 110 in tier 2.
    </p>
    <div class="info-text">
      <p>
        * Additional administrative costs totaling about $3.1 million
        were paid out of the retirement funds, including $1.6 million
        for professional services.  Retirement Services also spent
        $184,000 of Citywide expenses.
      </p>
    </div>
    <div class="info-text">
      <p>
        ** The Annual Required Contribution is an amount that actuaries
        calculate is necessary to be contributed to a retirement plan
        during the current year for the benefits to be fully funded over
        time.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div id="rs-op-exp" style="min-width: 500px; margin-top: 30px"></div>
    </div>
    <div class="col-sm-6">
      <div id="rs-auth-positions" style="min-width: 500px; margin-top: 30px"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div id="rs-retiree-benefits" style="min-width: 500px; margin-top: 30px"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div id="rs-federated-funded" style="min-width: 500px; margin-top: 30px"></div>
    </div>
    <div class="col-sm-6">
      <div id="rs-police-and-fire-funded" style="min-width: 500px; margin-top: 30px"></div>
    </div>
  </div>
{% endblock %}

{% block javascript %}
  $(function () {
    $.getJSON("{% url 'rs-op-expenditure' %}")
    .done(function(data) {
      $('#rs-op-exp').highcharts(data.chartData);
    })

    $.getJSON("{% url 'rs-auth-positions' %}")
    .done(function(data) {
      $('#rs-auth-positions').highcharts(data.chartData);
    })

    $.getJSON("{% url 'rs-retiree-benefits' %}")
    .done(function(data) {
      $('#rs-retiree-benefits').highcharts(data.chartData);
    });

    $.getJSON("{% url 'rs-federated-funded' %}")
    .done(function(data) {
      $('#rs-federated-funded').highcharts(data.chartData);
    });

    $.getJSON("{% url 'rs-police-and-fire-funded' %}")
    .done(function(data) {
      $('#rs-police-and-fire-funded').highcharts(data.chartData);
    });

  });
{% endblock %}
